<img src="About_us.jpg" alt="Our Founder" class="center">
<div class="paragraph">
  <p>Our founder Steve Burnside has been diving around the world since 1981.</p>
  <p>In 2004 Steve began this school to give people the opportunity to scuba and see the world underwater</p>
</div>