<div class="text">
  <h1>Welcome to Steves Scuba Adventures!</h1>

  <p>This page will welcome the user</p>
  <br><br><br><br><br><br><br><br>
  <p>This is a very profound statement demonstrating the excitement you must feel</p>

  <p>Then the user will be asked to sign in or sign up</p>
</div>
