<div class="text">
  <h1 style="background:black">Welcome to Steves Scuba Adventures!</h1>

  <p>Are you ready to discover the world underwater?</p>
  <br><br><br><br><br><br><br><br>
  <p>Schedule a dive at one of our wonderful locations today!</p>

  <p>You will be required to sign up before you can begin your underwater adventure!</p>
</div>
